
/*Settings*/
*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
   
   
}

body{
    background-color: #212020;

}
.container{
    color: white;   
    display: flex;
    position: absolute;

}
/*header*/
header{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 249px;
}
.logo{
    width: 104px;
    height: 104px;
    padding-left: 50px;
    padding-top: 5px;
    
    
}
span{ 
    display: flex;
}
span h1{
    font-size: 40px;
    padding-top:43px;
    padding-left: 20px;
    font-family: 'Strait', sans-serif;
}

.header-menu{
    padding-top: 50px;
    display: flex;
    list-style: none;
    padding-right: 100px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font: 400;
    
}
header .header-menu li{
   margin-left: 300px;
   

}
header .menu .header-menu li a{
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.541) 4px 6px 0px;
   
}
header .menu .header-menu li a:hover{
    color:#719883;
    transition: 1s;
}
/*body*/
.arvore{  
    width: 571px;
    height: 554px;
    padding-left: 20px;
    justify-content: flex-end;

}
.header-text{
margin-top: 55px;
margin-left: 150px;
font-size: 26px; 
font-family: 'Ubuntu', sans-serif;
font:400;
text-shadow: rgba(0, 0, 0, 0.63) 0px 6px 0px;
   
}
.body-text{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 37px;
    font-family: 'Ubuntu', sans-serif ;
    font:300;
    text-shadow: rgba(0, 0, 0, 0.747) 0px 4px 0px;
}
body .container button{
    margin-top: 50px;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    background-color:#719883;
    color: white;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.705) 4px 4px 4px;
    border:none;
}
body .container button a{
    text-decoration: none;   
}
body .container button:hover{
background-color:#427257;
transition: 1s;
}